*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1920px;
    margin: auto;
}
.content{
    display: flex;
}
.interactive{
    display: flex;
    flex-direction: column;
    position: relative;
}
.img_top{
    position: absolute;
}
.img_bottom{
    position: absolute;
}
.title{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 100%;
    color: #0B64FE;
}
.paragraph{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 170%;
    color: #181818;
}